<header id="header" class="header">
    <div class="container">
        <div class="nav-wrapper">
            <div class="logo">
                <div class="logo-3d">
                    <img src="/data/icon.png" alt="Logo" loading="lazy" class="logo-image">
                </div>
                <span>Mahakali Studio</span>
            </div>
            
            <nav class="nav-desktop">
                <a href="/" class="nav-link">Home</a>
                <a href="/portfolio" class="nav-link">Portfolio</a>
                <a href="/contact" class="nav-link">Contact</a>
                <a href="/pricing" class="nav-link">pricing</a>
                <a href="/reels" class="nav-link">Highlights</a>
            </nav>
            <a href="/session" style="text-decoration: none;" ><button class="btn btn-primary desktop-only">Book Session</button></a>
            
            <button class="mobile-menu-btn" id="mobileMenuBtn">
                <span class="hamburger-line"></span>
                <span class="hamburger-line"></span>
                <span class="hamburger-line"></span>
            </button>
        </div>
        
        <nav class="nav-mobile" id="mobileNav">
            <a href="/" class="nav-link">Home</a>
            <a href="/portfolio" class="nav-link">Portfolio</a>
            <a href="/contact" class="nav-link">Contact</a>
            <a href="/pricing" class="nav-link">Pricing</a>
            <a href="/reels" class="nav-link">Highlights</a>
            <a href="/session" style="text-decoration: none;" ><button class="btn btn-primary">Book Session</button></a>
        </nav>
    </div>
</header>
