<% layout('boilerplate') -%>
<section class="reels-section">
  <div class="reels-scroll-wrapper">
    <div class="reels-container" id="reelsContainer">
      <% for (const reel of signedReels) { %>
        <div class="reel-card">
          <video src="<%= reel.src %>" type="video/mp4" width="360" controlsList="nodownload" controls autoplay muted loop playsinline ></video>
        </div>
      <% } %>
    </div>
  </div>
  <button onclick="scrollToTop()" id="backToTop">↑ Top</button>
</section>
